.card img{
    background-color: ivory;
    height: 190.663px;
    width: 290.987;
    object-fit: cover;
}

.card{
    margin: 20px;
}

.card-body a{
    background-color: honeydew;
    width: 100%;
    font-weight: bolder;
    
}

.card-body h5{
    font-weight: bold;
}

.conteneur1{
    margin-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .conteneur1{
        flex-direction: column;
        align-items: center;
    }
}